Ans 1) A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient
SQL and NOSQL differences:
    SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database.
    SQL database stores structured data which can be formed into rows and columns whereas Nosql database stores unstructured data such as images, music videos etc.

Ans 2 ) DDL stands for data definition language. DDL are commands that do not require COMMIT and get executed automatically.
CREATE - This keyword is used to create a database object such as table, view etc.
        Eg - CREATE table abc(name VARCHAR2(60))
DROP -  Keyword to drop database objects.
       Eg: drop table abc
Alter - keyword to alter the structure of database object.
       Eg: ALter table abc modify (name VARCHAr2(100))
Truncate : Keyword used to delete data from a table . This will delete all records from a table and will not require any commit.
      Eg: Truncate table xyz

Ans 3) DML stands for data manipulation language. DML includes sql commands used for manipulation of data.
INSERT : It is used to insert data into a table.
Eg: INSERT INTO abc(emp_name,emp_id,emp_email) VALUES ("Faizan",313288,"faizan.tcs.it@gmal.com");
UPDATE: It is used to update existing data within a table.
 UPDATE abc 
    SET emp_name = "Ahmad"
    WHERE emp_id = 313288;
DELETE : It is used to delete records from a database table.
  Eg: DELETE 
        FROM abc 
       WHERE emp_id = 313288;

Ans 4) DQL ( Data Query Language)
The commands of SQL that are used to retrieve data from the database are collectively called DQL. So all Select statements come under DQL.
The purpose of DQL Command is to get some schema relation based on the query passed to it.
Eg: SELECT *
      FROM table_name;
    Over here the select statement is the DQL.
    * denotes that all the columns from table named 'table_name' to be fetched.
    from is a keyword denoting which table to get data from.
    table_name will be replaced with actual table name to get data from.
    To choose specific columns from a table, mention the column names.
    Eg: Select emp_id,emp_name,emp_email from emp;

Ans 5 ) Primary Key: A primary key is used to ensure that data in the specific column is unique. A primary key column cannot have NULL values. 
When we define column as unique key column then in that case it may have NULL values.
It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
Example: Table emp_detail has columns as emp_id, emp_name,emp_email,emp_doj.
Over here emp_id would be the primary key as this emp_id need to be unique.
CREATE TABLE emp_detail (
    emp_id int NOT NULL PRIMARY KEY,
    emp_name varchar(255) NOT NULL,
    emp_email varchar(255),
    emp_doj DATE NOT NULL
);
Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Table emp_course_enrolled(emp_id int FOREIGN KEY REFERENCES emp_detail(emp_id),
                                   course_id  int,
                                   enrolled_date DATE);
Over here the column emp_id is a foreign key referencing to the column emp_detail.emp_id.
Meaning that the emp_id in emp_course_enrolled cannot be other that what exists in emp_detail.emp_id.
Moreover, we cannot delete a parent record (in this case emp_detail) if it is being referenced in other table (over here emp_course_enrolled)

In [ ]:
Ans 6 ) 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test1.test_table values(3424 , 'faiz' , 234 , 345.56 , 'ahmad')")
mydb.commit()
mydb.close()

The cursor method allows Python code to execute SQL command in a database session.
Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database 
session wrapped by the connection.
The execute() method is used to execute the database sql query.

Ans 7) The order of execution of SQl clause is :
    Order	Clause	Function
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.